@import url('https://fonts.googleapis.com/css?family=Varela+Round|Oswald&display=swap');

body {
    background-color: #1c2730;
    color: white;
}

/* Dashboard */
.swap-img {
    position: absolute;
    top: 30px;
}

.swap-img:hover {
    cursor: pointer;
}

.swap-img img {
    width: 30px;
    height: 30px;
}

.container button {
    position: absolute;
    right: 10px;
    background-color: #583c3c;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: inherit;
    outline: none;
}

.container button:hover {
    cursor: pointer;
    background-color: rgb(47, 45, 58);
}

/* Table */
.container {
    display: flex;
    font-family: 'Oswald', sans-serif;
    justify-content: center;
    background-size: 100%;
}

.table-title > p {
    margin-top: 5px;
    margin-bottom: 10px;
}

.table-title p:nth-child(1) {
    font-size: 25px;
}

.table-title p:nth-child(2) {
    font-size: 18px;
}

.table-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

table {
    position: relative;
    text-align: center;
    width: 100%;
}

th {
    text-decoration: none;
    font-weight: 200;
}

td {
    z-index: 1;
    color: #a27676;
}

.graph {
    width: 100%;
    height: 27px;
    position: absolute;
    z-index: -1;
    right: 0px;
}

/* User Component */

.user-container {
    text-align: center;
    margin-top: 12vh;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.user-heading-main {
    font-family: 'Varela Round', sans-serif;
    font-size: 60px;
}

.user-container input[type="text"] {
    border: none;
    border-bottom: 1px solid grey;
    max-width: 400px;
    height: 40px;
    font-size: 22px;
    outline: none;
    background-color: #1c2730;
    color: white;
}

.user-container input[type="submit"] {
    font-size: 20px;
    padding: 8px 35px 8px 15px;
    background-color: #762e2e;
    border: none;
    color: white;
    border-radius: 5px;
    outline: none;
}

.user-container input[type="submit"]:hover {
    cursor: pointer;
    background-color: black;
}

.generate-btn {
    position: relative;
}

.generate-btn:hover {
    cursor: pointer;
}

.set-position {
    position: absolute;
    top: 7px;
    right: 8px;
    color: white;
}

.loading-section {
    display: flex;
    margin-top: 15vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

